<p-toast />
<p-confirmdialog />

<header class="flex flex-col justify-center items-center w-full h-[100vh]">
  <nav class="flex justify-center items-center gap-2">
    <i class="pi pi-undo bg-blue-500 text-white p-2 rounded cursor-pointer" pTooltip="Deshacer" (click)="restaurarElemento(listaElementosDescartados[0])"></i>
    <h1>Descarteo</h1>
    <p-button (click)="dialogoVisible = true" label="Elementos de la lista" />
  </nav>
  @if (!listaElementos.length) {
   <span class="text-lg">Establece una lista de elementos y elige entre uno y otro hasta que solo quede uno.</span>
  } @else {
    @if (listaElementos.length > 1) {
      <div class="w-full grow flex flex-col h-full">
       <p-button [label]="listaElementos[0]" class="w-full h-full rounded-none" styleClass="w-full h-full rounded-none" (onClick)="descartarIndice(1)"></p-button>
       <p-button [label]="listaElementos[1]" severity="info" class="w-full h-full rounded-none" styleClass="w-full h-full rounded-none" (onClick)="descartarIndice(0)"></p-button>
      </div>
    } @else {
     <h2>Ganador: <span class="bg-blue-600 text-white p-2 rounded animate-pulse">{{ listaElementos[0] }}</span></h2>
    }
  }
</header>

<p-dialog (onHide)="elementosAnadir = ''" header="Modificar elementos de la lista" [modal]="true" [(visible)]="dialogoVisible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  <main class="flex flex-col justify-center items-center gap-3">
    <p-selectbutton [options]="stateOptions" [(ngModel)]="modoDescartados" binary optionLabel="label" optionValue="value" aria-labelledby="basic" />
    <p-button severity="danger" label="Eliminar todo" (onClick)="confirmarEliminarTodo()"/>
    
    @if (!modoDescartados) {
     <textarea rows="5" class="w-full max-h-40" pTextarea [autoResize]="true" placeholder="Se pueden añadir elementos en masa. Ej:&#10;Opción 1&#10;Opción 2" [(ngModel)]="elementosAnadir" (keydown.control.enter)="confirmarAnadirElementos($event)"></textarea>
      <p-button class="w-full" styleClass="w-full" label="Añadir elementos" (onClick)="confirmarAnadirElementos($event)"/>

      <section class="flex flex-col gap-1 justify-center items-center w-full">
        <h3 class="m-0">Lista de elementos</h3>
        <span>Cada elemento se puede editar al vuelo</span>
        @for (elemento of listaElementos; track elemento) {
          <article class="flex justify-between gap-2 flex-wrap items-center bg-blue-500 p-2 rounded w-full text-white">
            <span class="grow outline-none border-none">{{elemento}}</span>
            <div class="flex gap-2 items-center">
              <i class="pi pi-pencil text-orange-300 cursor-pointer" pTooltip="Editar elemento" (click)="dialogoEditarElementoVisible = true; inputEditarElemento = elemento; inputEditarElementoOriginal = elemento"></i>
              <i class="pi pi-times text-red-400 cursor-pointer" pTooltip="Eliminar elemento" (click)="confirmarEliminarElemento(elemento)"></i>
            </div>
          </article>
        }
      </section>
    } @else {
     @for (elemento of listaElementosDescartados; track elemento) {
        <article class="flex justify-between gap-2 flex-wrap items-center bg-blue-500 p-2 rounded w-full text-white">
          <span class="grow outline-none border-none">{{elemento}}</span>
          <div class="flex gap-2 items-center">
            <i class="pi pi-undo text-green-300 cursor-pointer" pTooltip="Restaurar elemento" (click)="restaurarElemento(elemento)"></i>
          </div>
        </article>
      } @empty {
        <p>No hay elementos descartados</p>
      }
    }
  </main>
</p-dialog>

<!-- Editar elemento -->
<p-dialog header="Editar elemento" [modal]="true" [(visible)]="dialogoEditarElementoVisible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  <main class="flex flex-col gap-1 justify-center items-center">
    <input type="text" pInputText [(ngModel)]="inputEditarElemento" class="w-full m-1" (keydown.enter)="editarElemento()"/>
    <p-button label="Editar" class="w-full" styleClass="w-full" (click)="editarElemento()"/>
  </main>
</p-dialog>
